body {
  background-color: #FAF5F0;
  overflow: hidden;
  font-family: 'Krub', sans-serif;
  color: #1A0D31;
}

.main {
  height: 99vh;
  width: 99vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: fadeInAnimation ease 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
from {
    opacity: 0;
    transform: translateY(50px);
}
to {
    opacity: 1;
    transform: translateY(0);
 }
}


.logo {
  width: 30%;
  padding-bottom: 5px;
}

h1, h2 {
  font-size: 18px;
  font-weight: lighter;
  position: relative;
  bottom: 10px;
}
h2 {
  position: relative;
  bottom: 40px;
}

#email {
  text-decoration: none;
  color: #1A0D31;
  font-size: 18px;
  position: relative;
  bottom: 55px;
}

#instagram-logo {
  position: relative;
  bottom: 15px;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 50%;
  }
}

@media screen and (max-width: 426px) {

.logo {
  padding-bottom: 5px;
}

  h1, h2, span {
    font-size: 14px;
  }
  h2{
    padding-top: 10px;
  }
  #email {
    padding-top: 5px;
  }
  #instagram-logo {
    position: relative;
    bottom: 35px;
  }
}
