body {
  background-color: #FAF5F0;
  overflow: hidden;
  font-family: 'Krub', sans-serif;
  color: #1A0D31;
}

.main {
  height: 99vh;
  width: 99vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  width: 30%;
  padding-bottom: 10px;
}

h1, h2 {
  font-size: 18px;
  font-weight: lighter;
}

#email {
  text-decoration: none;
  color: #1A0D31;
  padding-top: 10px;
  font-size: 18px;
}

#instagram-logo {
  padding-top: 30px;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 50%;
  }

  #instagram-logo {
    padding-top: 25px;
  }
}

@media screen and (max-width: 426px) {
  h1, h2, span {
    font-size: 14px;
  }

  h2 {
    position: relative;
    bottom: 10px;
  }

  #email {
    position: relative;
    bottom: 20px;
  }

  #instagram-logo {
    padding-top: 18px;
  }
}
