body {
  background-color: #FAF5F0;
  overflow: hidden;
  font-family: 'Krub', sans-serif;
  color: #1A0D31;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.main {
  height: 99vh;
  width: 99vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  width: 30%;
  padding-bottom: 5px;
}

h1, h2 {
  font-size: 18px;
  font-weight: lighter;
  position: relative;
  bottom: 10px;
}
h2 {
  position: relative;
  bottom: 20px;
}

#email {
  text-decoration: none;
  color: #1A0D31;
  font-size: 18px;
  position: relative;
  bottom: 20px;

}

#instagram-logo {
  padding-top: 30px;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 50%;
  }
  #instagram-logo {
    padding-top: 25px;
  }
}

@media screen and (max-width: 426px) {
  h1, h2, span {
    font-size: 14px;
  }
  #instagram-logo {
    padding-top: 18px;
  }
}

@keyframes fadeInAnimation {
0% {
    opacity: 0;
    transform: translateY(30px);
}
100% {
    opacity: 1;
    transform: translateY(0px);
 }
}
